PORT=1337
DBURI=mongodb://localhost:27017/db-name
SALTWORKFACTOR= # number
ACCESSTOKENTTL=30m
REFRESHTOKENTTL=1y
PUBLICKEY= # use "double quotes for multiline"
PRIVATEKEY= # use "double quotes for multiline"
